<!-- social logins template -->
<template name="socialLogins">
    <div class="social-logins">
        <ul>
            <li>
                <button id="facebook-login" class="btn btn-default"><img src="/facebook-logo.svg" alt="Logo Facebook" height="20"><span>Se connecter avec Facebook</span></button>
            </li>
            <li>
                <button id="twitter-login" class="btn btn-default"><img src="/twitter-logo.svg" alt="Logo Twitter" height="20"><span>Se connecter avec Twitter</span></button>
            </li>
            <li>
                <button id="google-login" class="btn btn-default"><img src="/google-logo.svg" alt="Logo Google" height="20"><span>Se connecter avec Google</span></button>
            </li>
            <li>
                <button id="github-login" class="btn btn-default"><img src="/github-logo.svg" alt="Logo Github" height="20"><span>Se connecter avec Github</span></button>
            </li>
        </ul>
    </div>
</template>