<template name="channel">
    <!-- template pour les channels dans la sidebar -->
    {{> sidebar}}
    <div class="conversation">
        <div id="messages">
            <div class="messages-list {{#if isLoading}}loading-list{{/if}}">
                {{#each messages}} {{> message}} {{else}} {{#if isDirect}}
                <p class="alert alert-warning">Dites bonjour à {{username}}!</p>
                {{else}}
                <p class="alert alert-warning">C'est tranquille ici...</p>
                {{/if}} {{/each}}
            </div>
        </div>
        <div class="message-input">
            <!--<div id="outputText">OUTPUT
            </div>-->
            <input id="message-box" name="message" placeholder="{{inputPlaceholder}}">
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#message-box").on('keyup change input', function (e) {
                    var source = $('#message-box').val();
                    var preview = emojione.toImage(source);
                    //$('#outputText').html(preview);
                });
            });
        </script>
    </div>
    {{> slideMenu}}
</template>