<template name="message">
    <!-- template d'un message -->
    <div class="message">
        {{#if showHeader}}
        <img class="avatar" src="{{avatar owner}}" alt="Avatar" width="36" height="36" />
        <header>
            <h4>{{name owner}} <span>{{messageTimestamp timestamp}}</span></h4>
        </header>
        {{/if}}

        <div class="body">
            {{#emojione}} {{#autolink}} {{{parseMarkdown message}}} {{{imageLink message}}} {{/autolink}} {{/emojione}}
        </div>
    </div>
</template>