<template name="parametres">
    <div class="parametres">
        <!-- template pour les paramètres -->
        <h3>Paramètres <img src="/cancel.svg" alt="Fermer" class="cancel slideout-menu-toggle"/></h3>
        <ul>
            <li><a href="#">Notifications</a></li>
            <li><a id="onglet-theme" href="#">Thèmes</a>
                <ul class="liste-themes">{{#each theme in themes}}
                    <li><a id="{{theme.name}}" class="theme-changer" href="#">{{theme.name}}</a></li> {{/each}}</ul>
            </li>
            <li><a href="#">Autres</a></li>
        </ul>
    </div>
</template>