<template name="userMenu">
    <div class="user-menu">
        <img src="{{avatar currentUser}}" alt="Avatar" width="48" height="48" />
        <div class="user-menu-infos">
            <h5>@<span id="textArea" class="editable" data-type="textarea" data-placeholder="Entrez votre nom d'usager" data-emptytext="Entrez votre nom d'usager" data-rows="1" maxlength="16"><span class="old-username">{{name currentUser}}</span></span></h5>
            <br/>
            <p>
                <span class="statusActive"></span>Connecté
            </p>
        </div>
    </div>
</template>