$red: #DA5347;
$blue: #1B9EDB;
$green: #75BA50;
* {
    font-family: 'Lato', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

body {
    height: 100%;
    width: 100%;
    background: #FAF4F1;
}

::-webkit-scrollbar {
    background: #f3f3f3;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d9d9de;
}

body.is-channel .container {
    width: 100%;
}

.logo {
    height: 22px;
    float: left;
    margin-right: 4px;
}

.image-link {
    display: block;
    margin-bottom: 10px!important;
    .image-chat {
        max-height: 280px;
        max-width: 100%;
        pointer-events: none;
    }
}

.sidebar,
.conversation {
    position: fixed;
    top: 50px;
    bottom: 0;
    height: 100%;
}

.sidebar {
    left: 0;
    width: 220px;
    background: #FAF4F1;
    padding: 20px;
    height: calc(100% - 50px);
    .userlist {
        max-height: calc(100vh - 290px);
        //overflow-y: scroll;
        overflow-x: hidden;
        // scrollbar du sidebar
        &::-webkit-scrollbar {
            background: #FAF4F1;
            width: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background: #E77562;
        }
        li {
            a {
                white-space: nowrap;
            }
        }
    }
    #labelAvatarUploader {
        position: absolute;
        bottom: 22px;
        left: 20px;
        height: 48px;
        width: 48px;
        display: block;
        background: transparent;
        cursor: pointer;
        z-index: 40;
        margin: 0;
        font-size: 0;
    }
    .myFileInput {
        display: none;
    }
    .user-menu {
        position: absolute;
        bottom: 20px;
        textarea {
            resize: none;
        }
        .popover {
            z-index: 1000;
            box-shadow: none;
            top: -36px!important;
            .btn-primary {
                background: #e77562;
                border: 1px solid #e77562;
                &:hover {
                    background: #e77562;
                    border: 1px solid #e77562;
                }
            }
            .btn {
                &:focus {
                    outline: none;
                }
            }
        }
        .popover-content {
            padding: 4px;
        }
        .editableform .form-control {
            padding: 4px;
            width: 130px;
            overflow: hidden;
        }
        .editable-buttons {
            margin-left: 4px;
            .editable-submit {
                .glyphicon {
                    top: 2px;
                }
            }
            .editable-cancel {
                margin-left: 4px;
                .glyphicon {
                    top: 3px;
                }
            }
        }
        img {
            float: left;
            width: 48px;
            height: 48px;
            border-radius: 4px;
        }
        .user-menu-infos {
            margin-left: 8px;
            float: left;
        }
        .editable-click {
            &:hover {
                border-bottom: dashed 1px #ccc;
            }
            border-bottom: none;
        }
        h5 {
            color: #717171;
            text-transform: none;
            float: left;
            clear: none;
            padding-top: 10px;
            font-size: 14px;
            span {
                &:hover {
                    cursor: pointer;
                }
            }
        }
        p {
            float: left;
            margin: 0;
            padding: 0;
            margin-top: 2px;
            font-size: 13px;
            color: #717171;
            position: relative;
            padding-left: 14px;
            .statusConnection {
                opacity: 0.6;
            }
            .statusActive {
                float: left;
                width: 9px;
                height: 9px;
                border-radius: 9px;
                background: rgb(231, 117, 98);
                display: block;
                position: absolute;
                left: 0;
                top: 4px;
                margin-right: 8px;
            }
        }
    }
    .prefix {
        margin-right: 3px;
        opacity: 0.6;
    }
    .suffix {
        opacity: 0.6;
    }
    .status {
        width: 9px;
        height: 9px;
        border-radius: 9px;
        display: block;
        float: left;
        border: 1px solid #717171;
        opacity: 0.3;
        margin-right: 8px;
        position: relative;
        top: 8px;
    }
    .statusActive {
        width: 9px;
        height: 9px;
        border-radius: 9px;
        display: block;
        float: left;
        border: 0px;
        background: #ED9F90;
        opacity: 1;
        margin-right: 8px;
        position: relative;
        top: 8px;
    }
    h5 {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        color: rgb(113, 113, 113);
        margin: 0;
        line-height: 20px;
        font-variant-ligatures: common-ligatures;
    }
    ul {
        margin: 10px 0 0 -20px;
        padding: 0;
        list-style: none;
    }
    ul:not(:last-child) {
        margin-bottom: 20px;
    }
    li {
        font-size: 15px;
    }
    a {
        display: block;
        padding: 0px 10px 0px 20px;
        border-radius: 0 3px 3px 0;
        color: rgb(113, 113, 113);
        text-decoration: none;
        border-left: none;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    /*a:hover {
        background: #EDE5E0;
    }*/
    .active a,
    .active a:hover {
        .status {
            color: #625361;
            border-color: #fff;
            opacity: 0.5;
            text-shadow: 1px 1px rgba(0, 0, 0, .1);
        }
        .statusActive {
            background: #fff;
            opacity: 1;
        }
        //background: #E77562;
        //color: #fff;
        font-weight: 400;
        line-height: 24px;
        border-left: none;
        .unread {
            background: $blue;
            color: #fff;
        }
    }
    a .unread {
        position: relative;
        top: 2px;
        float: right;
        background: #fff;
        color: $blue;
        font-size: 11px;
        font-weight: bold;
        width: 25px;
        text-align: center;
        padding: 1px 0 2px;
        border-radius: 30px;
    }
}

.conversation {
    left: 220px;
    width: calc( 100% - 220px);
    background: #fff;
    border-top: 1px solid #eee;
    z-index: -1;
    .message-input {
        background: #fff;
        position: absolute;
        bottom: 52px;
        left: 0;
        right: 0;
        padding: 15px 20px;
    }
    .message-input input {
        display: block;
        width: 100%;
        border: 2px solid #eee;
        border-radius: 6px;
        height: 40px;
        padding: 10px;
        overflow: hidden;
        padding-top: 9px;
    }
    .message-input input:focus {
        outline: 0;
        border-color: #ddd;
    }
    #messages {
        display: flex;
        float: left;
        overflow: auto;
        width: 100%;
        height: calc(100% - 122px);
        background: #fff;
        padding: 20px 20px 0;
        overflow-x: hidden;
    }
    .messages-list {
        width: 100%;
        max-height: 100%;
        align-self: flex-end;
        opacity: 1;
        &.loading-list {
            opacity: 0;
        }
    }
    .message {
        position: relative;
        padding-left: 46px;
    }
    .message .avatar {
        float: left;
        position: absolute;
        left: 0;
        top: 5px;
        border-radius: 3.2px;
    }
    .message header h4 {
        font-size: 15px;
        color: rgb(44, 45, 48);
        font-weight: 900;
        line-height: 22px;
        margin-bottom: 0;
        padding-top: 2px;
    }
    .message header h4 span {
        display: inline-block;
        margin-left: 5px;
        font-size: 12px;
        font-weight: normal;
        color: rgb(158, 158, 166);
        line-height: 18px;
    }
    .message > *:first-child,
    .message > header > *:first-child {
        margin-top: 0px;
    }
    .message .body {
        a {
            color: #08c;
            &:hover,
            &:visited {
                color: #005e99;
            }
        }
        line-height: 22px;
        font-size: 15px;
        color: rgb(44, 45, 48);
    }
    .message > *:last-child,
    .message > .body > *:last-child {
        margin-bottom: 0px;
    }
}