.navbar {
    border: 0;
}

.navbar.navbar-default {
    border-radius: 0px;
    background: #fff;
    .navbar-brand {
        width: 220px;
        background: #FAF4F1;
    }
}

.navbar-brand {
    font-weight: 900;
    color: #717171;
    font-size: 22px;
    padding-left: 20px;
}

body.is-channel .navbar.navbar-default {
    border-bottom: none;
}