.recover {
    background: #fff;
    padding: 40px;
    padding-top: 55px;
    padding-bottom: 55px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    max-width: 800px;
    margin: auto;
    .col-recover {
        margin: auto;
        float: none;
    }
    .page-header {
        margin-top: 0;
    }
}

.creation {
    background: #fff;
    padding: 40px;
    padding-top: 55px;
    padding-bottom: 55px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    max-width: 800px;
    margin: auto;
    .col-creation {
        margin: auto;
        float: none;
    }
    .page-header {
        margin-top: 0;
    }
}

.connexion {
    background: #fff;
    padding: 40px;
    padding-top: 55px;
    padding-bottom: 55px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    max-width: 800px;
    margin: auto;
    .social-logins {
        float: right;
        ul {
            margin-bottom: 0;
        }
    }
    .login {
        a {
            font-size: 12px;
        }
        float: left;
        input {
            min-width: 242px;
            height: 38px;
        }
    }
    p {
        float: left;
    }
}

.login label {
    display: block;
}

ul {
    padding-left: 0;
    li {
        list-style: none;
    }
}

#facebook-login {
    background: #3b5998;
    color: #ffffff;
    margin-top: 25px;
}

#twitter-login {
    background: #1DA1F3;
    color: #ffffff;
}

#google-login {
    background: #d34836;
    color: #ffffff;
}

#github-login {
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 0;
}

.social-logins {
    padding-right: 30px;
    button {
        min-width: 242px;
        margin-bottom: 4px;
        padding-left: 14px;
        padding-right: 14px;
        border: 0;
        img {
            margin-top: 4px;
            margin-bottom: 2px;
            margin-right: 12px;
            float: left;
        }
        span {
            position: relative;
            top: 4px;
            float: left;
        }
    }
}