.parametres {
    position: absolute;
    background: $blanc;
    border-left: 1px solid #E8E8E8;
    top: 0px;
    right: -251px;
    bottom: 0;
    h3 {
        color: #333;
        font-weight: 900;
        font-size: 18px;
        line-height: 20px;
        margin: 0;
        padding: 20px;
        background: #f7f7f7;
        border-bottom: 1px solid #E8E8E8;
        width: 250px!important;
        position: relative;
        float: left;
        .cancel {
            position: absolute;
            width: 24px;
            height: 24px;
            padding: 6px;
        }
        .slideout-menu-toggle {
            opacity: 0.6;
            &:hover {
                cursor: pointer;
                opacity: 1.0;
            }
            background: transparent;
            top: 20px;
            right: 14px;
        }
    }
    ul {
        width: 250px!important;
        border: none;
        li {
            border: none;
            padding: 0px;
            border-bottom: 1px solid #e8e8e8;
            a {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                color: $grispale;
                padding-left: 20px;
                &:hover {
                    background: rgb(252, 252, 252);
                    color: $grispale;
                }
            }
        }
    }
    p {
        width: 250px!important;
        padding: 20px;
        padding-top: 20px;
        padding-bottom: 8px;
        margin: 0;
        float: left;
        clear: both;
    }
    a {
        white-space: nowrap;
        width: 250px!important;
        padding: 20px;
        padding-top: 20px;
        float: left;
        clear: both;
    }
    ul {
        li {
            a {
                text-decoration: none;
            }
        }
    }
    .liste-themes {
        margin: 0;
        padding: 0;
        border-top: none;
        border-bottom: none;
        display: none;
    }
}

.fichiers {
    overflow: auto;
    position: absolute;
    background: $blanc;
    border-left: 1px solid #E8E8E8;
    top: 0px;
    right: -251px;
    bottom: 0;
    h3 {
        color: #333;
        font-weight: 900;
        font-size: 18px;
        line-height: 20px;
        margin: 0;
        padding: 20px;
        background: #f7f7f7;
        border-bottom: 1px solid #E8E8E8;
        width: 250px!important;
        position: relative;
        float: left;
        .cancel {
            position: absolute;
            width: 24px;
            height: 24px;
            padding: 6px;
        }
        .slideout-menu-toggle {
            opacity: 0.6;
            &:hover {
                cursor: pointer;
                opacity: 1.0;
            }
            background: transparent;
            top: 20px;
            right: 14px;
        }
    }
    ul {
        width: 250px!important;
        border: none;
        li {
            border: none;
            padding: 0px;
            border-bottom: 1px solid #e8e8e8;
            a {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                color: $grispale;
                padding-left: 20px;
                &:hover {
                    background: rgb(252, 252, 252);
                    color: $grispale;
                }
            }
        }
    }
    p {
        width: 250px!important;
        padding: 20px;
        padding-top: 20px;
        padding-bottom: 8px;
        margin: 0;
        float: left;
        clear: both;
    }
    a {
        white-space: nowrap;
        width: 250px!important;
        padding: 20px;
        padding-top: 20px;
        float: left;
        clear: both;
    }
    ul {
        li {
            a {
                text-decoration: none;
            }
        }
    }
    .file-list {
        li {
            a {
                img {
                    max-width: 100%;
                }
            }
        }
    }
}