h2 {
    color: $gris;
}

h3 {
    color: $grispale;
}

h5 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: $grispale;
    margin: 0;
    line-height: 20px;
    font-variant-ligatures: common-ligatures;
}