<template name="authenticatedNavigation">
    <!-- template -->
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="menu-icon" src="/menu.svg" alt="Menu"></a>
            <ul class="dropdown-menu" role="menu">
                <!-- triangle -->
                <div class="arrow-up-under"></div>
                <div class="arrow-up-over"></div>
                <li><a href="#" class="slideout-menu-toggle"><img class="icon question" src="/question.svg" alt="À propos"> À propos</a></li>
                <li><a href="#"><img class="icon files" src="/files.svg" alt="Fichiers"> Fichiers</a></li>
                <li><a href="#" class="slideout-menu-toggle"><img class="icon gear" src="/gear.svg" alt="Paramètres"> Paramètres</a></li>
                <li class="logout"><a href="#"><img class="icon off" src="/off.svg" alt="Déconnexion"> Déconnexion</a></li>
            </ul>
        </li>
    </ul>
</template>