<template name="header">
    <!-- template du header -->
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container barre-nav">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/messages/general"><img class="logo" src="/logo.svg" alt="Logo"> timCHAT
        </a>
            <span class="channel-name">{{currentChannel channel.name}}</span>
	    </div>
      {{#if currentUser}}
        {{> authenticatedNavigation}}
      {{else}}
        {{> publicNavigation}}
      {{/if}}
	  </div>
	</nav>
</template>